@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700;900&display=swap');

text {
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/*.App {*/
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  max-height: 100vh;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  overflow: hidden;*/
/*}*/

/* 
.sky {
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 10px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.212) 1px, transparent 5px),
    radial-gradient(white, rgba(10, 0, 53, 0.226) 2px, transparent 10px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 5px
    ),
    linear-gradient(25deg, #010002 0%, #231427ee 100%);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100% 100%;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px, center center;
  background-blend-mode: soft-light;
} */

.comet {
  transform-origin: center center;
  animation: comet 8s linear infinite;
}

@keyframes comet {
  0%,
  40% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60%,
  100% {
    transform: translateX(-100vmax);
    opacity: 0;
  }
}